# Login to the settings page of your bot. Copy the value of mbToken cookie
ACCESS_TOKEN=8a34aaf3ba00a8d0604bdac5e87bed2da520c8be

# Nock uses this URL to match test requests.
API_HOST=http://local.mailbots.com

# Your test bot's clientid
CLIENT_ID=ext_0b051aa5668fae6021de5deda8e9c4e5

# Your bot's client secret
CLIENT_SECRET=914c61993fb44c9be8b4d69e12f19a52391d8af35f0718904b0323f308d2d0b0

REDIRECT_URI=not_needed_for_testing
EXTENSION_URL=not_needed_for_testing
SCOPE=get_user_info mailbot_manage_self manage_reminders read_reminders

# Ex example@your-bot-domain.eml.bot
EXAMPLE_COMMAND=test@test-mailbot-1.eml.bot

# Example subdomains of your test mailbot 1
EXAMPLE_MAILBOT_SUBDOMAIN_1=test-mailbot-1

# Example subdomains of your test mailbot 2
EXAMPLE_MAILBOT_SUBDOMAIN_2=test-mailbot-2

# After installing your test mailbot, copy its event URL here
EXAMPLE_BOT_EVENT_URL=http://local.mailbots.com/api/v1/mailbot_event/255/205fac3799bc2f9b/

# If present, point to the interbot event url to API v
# API_HOST_V2=https://{core-api}/api/v2/interbot_event/
