API_HOST= #url of MailBots host 
ACCESS_TOKEN= # Login to the settings page of your bot. Copy the value of mbToken cookie
CLIENT_ID= # Your bot's clientid
CLIENT_SECRET=# Your bot's client secret
REDIRECT_URI=# Not needed for now
BOT_URL=# Not needed for now
SCOPE=# Not needed for now
EXAMPLE_COMMAND= # Some tests use this. Use something like example@your-ext-domain.eml.bot
EXAMPLE_MAILBOT_SUBDOMAIN_1=#subdomain of first test bot
EXAMPLE_MAILBOT_SUBDOMAIN_2=#subdomain of second test bot
